.streetlabel-container {
    display:none;
    position: absolute;
    bottom: 18%;
    /*left: 93%;*/
    right: 0%;
    width: auto;
    min-width: 14.5vw;
    height: 4.5vh;
    user-select: none;
    transform: scale(1.0);
}

.streetlabel-container .streetlabel {
    background-color: #1b1b1bb9;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1vh;
    border-radius: 5px;
    inset: 0;
    box-shadow: 0 0 14px #1b1b1b;
}

.streetlabel-container .streetlabel .direction {
    color: var(--main-background-color);
    font-size: 2.0833333333333335vw;
    width: 6vw;
    text-align: center;
}

.streetlabel-container .streetlabel .street {
    color:rgb(212, 211, 211);
    font-size: 1.0416666666666667vw;
    width: 100%;
    line-height: 4.5vh;
    text-align: center;

}