.ui-setup {
    position:absolute;
    padding:0;
    margin:0;
    opacity:1;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(27,27,27,1) 93%);

    cursor: default;
    user-select: none;
}

.ui-setup .header-textUI {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, 50%);
    font-size: 18px;
}

.ui-setup .background-image img {
    width: 114%;
    height: 100%;
    z-index:0;
}

.ui-setup .animated-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background:linear-gradient(117deg, var(--main-background-color) 0%, rgba(27,27,27,1) 51%, rgba(45,45,45,1) 100%);
    background-size: 400% 400%;
    animation: gradientBack 55s ease infinite;
    filter: blur(0px);
}

@keyframes gradientBack {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}

.ui-setup .flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

.ui-setup .flex-row .to-next {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    transform: translate(0, 300%);
    width: 20%;
}

.ui-setup .flex-row .center {
    position: absolute;
    top: 45%;
    transform: scale(0.9) translate(-60%, 50%);
}

.ui-setup .flex-row .center .text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    line-height: 46.66px;
    text-align: center;
}

.ui-setup .flex-row .to-next .picker {
    width: 12%;
    height: 2%;
    opacity: 0.2;
    overflow:hidden;
    border-radius: 5px;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}

.ui-setup .flex-row .to-next .picker:hover {
    opacity: 0.9;
}

.ui-setup .flex-row .to-next .text {
    color: white;
    line-height: 46.66px;
    margin: 0 auto;
}

.ui-setup .button {
    background: #151515;
    color:rgb(146, 146, 146);
    border-left: 8px solid transparent;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    width: 20%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    
    transform: scale(0.97) translate(-50%, 50%);
    transition: all .2s ease-in-out;
}

.ui-setup .button2 {
    background: #151515;
    color:rgb(146, 146, 146);
    border-left: 8px solid transparent;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    width: 10%;
    position: absolute;
    bottom: 30%;
    left: 17.35%;
    
    transform: scale(0.97) translate(-50%, 50%);
    transition: all .2s ease-in-out;
}

.ui-setup .button2:hover {
    padding: 10px 10px 10px 15px;
    border-left: 8px solid var(--main-background-color);
    background: #181818;
    color:rgb(190, 190, 190);
}

.ui-setup .button:hover {
    padding: 10px 10px 10px 15px;
    border-left: 8px solid var(--main-background-color);
    background: #181818;
    color:rgb(190, 190, 190);
}